<header class="mb-3 w-100" id="staticHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <div class="container">
            <a class="navbar-brand" href="{% url 'default' %}">
                <img src="/static/favicon.ico" alt="logo banque app">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="javascript:void(0)">Home</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Les Operations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_staff %}
                            <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#retrait_modal_id">Retrait Depuis</a></li>
                            <li><a class="dropdown-item border-top" href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#depot_modal_id">Dépot Vers</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#depot_modal_id">Transferer</a></li>
                            {% endif %}
                            <li><a class="dropdown-item border-top" href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#historique_modal_id">Historiques</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex flex-column flex-lg-row">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn text-app-secondary" href="javascript:void(0)"
                            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Bienvenue {{ user.first_name }} {{ user.last_name }} !
                        </a>
                        <ul class="dropdown-menu fade text-start" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">
                                Votre Numero de compte:
                                <span class="text-bold text-info">{{ user.account_num }}</span>
                            </li>
                            <li class="dropdown-item border-top">
                                Votre Statut :
                                <span class="text-bold text-info">
                                    {% if user.is_staff %} Administrateur {% else %} Client {% endif %}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="align-self-center mx-3 text-decoration-none text-info">
                        Solde actuel [[ state?.balance ]] F CFA
                    </a>
                    <a class="btn btn-danger align-self-center" href="{% url 'logout' %}">De Deconnecter</a>
                </div>
            </div>
        </div>
    </nav>
</header>