    <meta name="description" content="Banque-App est une application web de gestion de banque en ligne qui vous permet de gérer facilement vos comptes, effectuer des transactions et plus encore.">
    <meta name="keywords" content="banque en ligne, gestion de comptes, transactions bancaires, finances personnelles, application bancaire">
    <meta name="author" content="Kabirou ALASSANE">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://banque-app.kabirou-alassane.com">
    
    <!-- Balises Open Graph pour le partage sur les réseaux sociaux -->
    <meta property="og:title" content="Banque-App - Votre Solution de Gestion de Banque en Ligne">
    <meta property="og:description" content="Gérez vos comptes bancaires en ligne de manière pratique et sécurisée avec Banque-App.">
    <meta property="og:image" content="https://banque-app.kabirou-alassane.com/static/favicon.ico">
    <meta property="og:url" content="https://banque-app.kabirou-alassane.com">
    
    <!-- Balises Twitter Card pour le partage sur Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BlakvGhost">
    <meta name="twitter:title" content="Banque-App - Votre Solution de Gestion de Banque en Ligne">
    <meta name="twitter:description" content="Gérez vos comptes bancaires en ligne de manière pratique et sécurisée avec Banque-App.">
    <meta name="twitter:image" content="https://banque-app.kabirou-alassane.com/static/favicon.ico">
    
    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
    <script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js" integrity="sha512-39BSQXI5q1XlvVhLfFRidKG8KM6Tr6VS/XSnNo6N/A0ZXexHCeoUI/s+ulujQy3UREjoLNrMnFat8VI0mMugWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/vendor/jquery/jquery.js"></script>
    <script src="/static/vendor/vue/axios.min.js"></script>
    <script src="/static/vendor/toastr/toastr.min.js"></script>
    <script src="/static/vendor/sweetalert/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/sweetalert/sweetalert2.min.css">
    <link rel="stylesheet" href="/static/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/static/js/service-worker.js")
                .then(function (registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch(function (error) {
                    console.error('Service Worker registration failed:', error);
                });
        }
    
        let deferredPrompt;
        let installBar;
    
        window.addEventListener('beforeinstallprompt', (event) => {
            event.preventDefault();
            deferredPrompt = event;
            showInstallPrompt();
        });
    
        function showInstallPrompt() {
            if (localStorage.getItem('installPromptRejected')) {
                return;
            }
    
            installBar = document.createElement('div');
            installBar.classList.add('install-bar', 'position-fixed', 'bottom-0', 'w-100');
            installBar.innerHTML = `
                <div style="z-index:50000" class="bg-dark text-light text-center py-4 shadow position-fixed bottom-0 w-100">
                    <div class="my-3">
                        <h3 class="text-light my-3">Installez notre application pour profiter d'une meilleure expérience.</h3>
                        <button class="btn btn-success install-button">Installer</button>
                        <button class="btn btn-danger refuse-button">Refuser</button>    
                    </div>    
                </div>
            `;
            document.body.appendChild(installBar);
    
            const installButton = installBar.querySelector('.install-button');
            installButton.addEventListener('click', () => {
                installPWA();
            });
    
            const refuseButton = installBar.querySelector('.refuse-button');
            refuseButton.addEventListener('click', () => {
                refuseInstall();
            });
        }
    
        function installPWA() {
            if (deferredPrompt) {
                deferredPrompt.prompt();
                deferredPrompt.userChoice.then((choiceResult) => {
                    if (choiceResult.outcome === 'accepted') {
                        console.log('L\'utilisateur a accepté l\'installation');
                    } else {
                        console.log('L\'utilisateur a refusé l\'installation');
                        refuseInstall();
                    }
                    deferredPrompt = null;
                });
            }
    
            hideInstallPrompt();
        }
    
        function refuseInstall() {
            localStorage.setItem('installPromptRejected', true);
            hideInstallPrompt();
        }
    
        function hideInstallPrompt() {
            if (installBar) {
                installBar.remove();
                installBar = null;
            }
        }
    
    </script>
    <style>
        .install-bar {
            animation-name: slideInDown;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    
        @keyframes slideInDown {
            0% {
                transform: translateY(-100%);
                opacity: 0;
            }
    
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YEWH0NF8G"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-9YEWH0NF8G');
    </script>
